{{> layout/header}}
<div class="container mt-3">
     {{#Item}}
        <ul>
        <li>지역 : <kbd>{{courseAreaName}} {{spotAreaName}}</kbd> </li>
        <li>관광지명 : <kbd> {{spotName}} </kbd></li>
        <li>예보시간 : <kbd> {{tm}} </kbd></li>
        <li >하늘 상태 : <kbd> {{sky}} </kbd></li>
        <li>강수 상태 : <kdb> {{rhm}} </kdb></li>
    </ul>
        {{/Item}}
</div>
</body>





</html>
